@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 0.938rem;
  line-height: 1.5;
}
.container{
  width: 90%;
  max-width: 68.75rem;
  margin: auto;
}
/* Navbar */
.navbar{
  background: #2d4c69;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
 
}
.nav-logo{
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  flex-grow: 1;
}
.nav-menu{
  display: flex;
  list-style: none;
  margin-right: 2rem;
}
.nav-links{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav-item{
  line-height: 40px;
  margin-right: 1rem;
}
.nav-item:after{
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-item:hover:after {
  width: 100%;
  background: #e74c3c;
}
.nav-menu .active{
  color: #e74c3c;
  /* border: 1px solid #e74c3c ; */
}
.nav-icon{
  display: none;
}

@media screen and (max-width: 960px){
  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
  }
  .nav-icon{
   display: block;
  }
}


.btn{
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.625rem 1.25rem;
  background: #e74c3c;
  color: #fff;
  font-size: 0.938rem;
}
.btn:hover{
  opacity: 0.9;
}

/* showcase */
.showcase{
  width: 100%;
  height: 25rem;
  background: url('images/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 3.125rem;
  margin-bottom: 1.25rem;
}

.showcase h2, .showcase p{
  margin-bottom: 0.625rem;
}

.showcase .btn{
  margin-top: 1.25rem;
}
.quick{
  text-align: center;
  margin: 2rem 0;
  
}
/* Home cards */
.home-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
}
.home-cards img{
  width: 100%;
}
@media(max-width: 700px){
  .home-cards{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width: 500px){
  .home-cards{
    grid-template-columns: 1fr;
  }
}

/* about page */



.container .about-content{
  text-align: justify;
}
.main-content img{
  width: 100%;
  padding: 3rem 0;
}
.main-content{
  display: grid;
  width: 100%;
  grid-template-columns: 50px, 1fr;
  /* grid-template-columns: 1fr 2fr; */
  grid-gap: 1rem;
}
.main-content p{
  text-align: justify;
  
}
@media(max-width: 700px ){
  .main-content{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 500px){
  .about-us .quickreg{
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}